/* initial changes */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-text-color: #ffff;
    --dark-color: #181818;
    --purple-color: #a460f9;
    --silver-color: #636363;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: var(--dark-color);
}

a {
    text-decoration: none;
    color: var(--main-text-color);
}

li {
    list-style: none;
}

/* header */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    padding: 0px 80px;
}

.container .logo-header {
    color: var(--main-text-color);
    font-weight: bold;
    font-size: 1.4rem;
}

.container .list-header {
    display: flex;
    list-style: none;
    margin-top: 10px;

}

.container .list-header .list-item {
    margin: 0 60px;
    font-weight: bold;
    font-size: .75rem;

}

.container .list-header .list-item::after {
    content: "";
    display: block;
    width: 0%;
    height: 1px;
    background-color: var(--main-text-color);
    margin-top: 10px;
    transition: all .5s ease-in-out;
}

.container .list-header .list-item:hover::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: wheat;
    margin-top: 10px;
}

.active::after {
    content: "";
    width: 100% !important;
    display: block;
    border-bottom: 1px solid var(--main-text-color);
    margin-top: 10px;

}

.container .button-header button {
    background-color: var(--main-text-color);
    color: var(--dark-color);
    font-size: .70rem;
    font-weight: bold;
    padding: 4px 7px;
    border: none;
    outline: none;
    border-radius: 2px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    cursor: pointer;
}

.container .btn-login {
    margin-right: 10px;
}

/* main */
.banner-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 5%;
    margin-top: 30px;
}

.banner-section-left {
    position: relative;
    width: 30%;
    line-height: 2;
    display: flex;
    flex-direction: column;
    color: var(--main-text-color);
}

.banner-section-left h1 {
    font-size: 3rem;
    font-weight: bold;
    padding: 0 0 0 15px;
}

.banner-section-left h1::after {
    content: ".";
    margin-left: 7px;
    color: var(--purple-color);
    font-size: 4rem;

}

.banner-section-left h3 {
    font-size: 1rem;
    writing-mode: vertical-lr;

}

.banner-section-left h5 {
    position: absolute;
    right: 5px;
    bottom: 35px;

}

.banner-section-mid {
    width: 30%;
    color: var(--main-text-color);

}

.banner-section-right {
    width: 30%;
    color: var(--main-text-color);
    line-height: 1.5;
    position: relative;
}

.banner-section-right-header h3 {
    position: absolute;
    top: -60px;
    right: 0;
    border: 1px solid var(--main-text-color);
    padding: 10px;
}

.banner-section-right-footer {
    margin-top: 10px;
}

.banner-section-right-footer button {
    font-weight: bold;
    font-size: .75rem;
    padding: 7px 10px;
    border: none;
    color: var(--main-text-color);
    cursor: pointer;
}

.banner-section-right-footer-btn-1 {
    background-color: var(--purple-color);
}

.banner-section-right-footer-btn-2 {
    background-color: transparent;
}

.counter-section {
    display: flex;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.counter-section .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding: 30px 0;
    margin: 10px;
}

.counter-section .row div {
    display: flex;
    justify-content: center;
    width: 30%;
}

.counter-section .row div p {
    margin-left: 5px;
    color: var(--main-text-color);
    font-weight: bold;
    font-size: .75rem;
}

.counter-section .row div span {
    color: var(--main-text-color);
    font-size: 1.5rem;

}

.counter-section .row div span::before {
    color: var(--purple-color);
    content: "+";
    font-weight: bold;
}

.challenges-section {
    background-image: url("/images/main-section-2.png");
    background-repeat: no-repeat;
    background-position: center;
    padding: 100px 0;
}

.challenges-section .row {
    width: 100%;
}

.challenges-section-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.challenges-section-top p {
    margin: 0 40px;
    writing-mode: vertical-rl;
    color: var(--main-text-color);
    font-size: .70rem;
}

.challenges-section-top h1 {
    text-align: center;
    color: var(--main-text-color);
}


.challenges-section-bottom {
    display: flex;
    justify-content: space-between;
    margin: 0 40px;
    margin-top: 80px;
}

.challenges-section-bottom a {
    color: var(--silver-color);
    font-weight: bold;
    font-size: 1.2rem;
}

.courses-section {
    padding: 0 40px;
}

.courses-section-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.courses-section-title .courses-section-title-left span {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--main-text-color);
}

.courses-section-title .courses-section-title-left p {
    color: var(--main-text-color);
}

.courses-section-title-right {
    text-align: center;
    color: var(--main-text-color);
    font-size: .75rem;
    font-weight: bold;
}

.courses-section-title-right p:nth-child(1) {
    font-size: .5rem;
}

.courses-item {
    text-align: center;
    border: 1px solid var(--main-text-color);
    padding: 40px;
    position: relative;
    margin: 0 10px;
}

.courses-section-items {
    margin-top: 50px;
}


.courses-section-items .row {
    display: flex;
    justify-content: space-between;

}

.courses-item-title h1 {
    font-size: 1.3rem;
    color: var(--main-text-color);
}

.courses-item-title::after {
    content: "";
    display: block;
    border-bottom: 2px solid var(--purple-color);
    width: 25%;
    margin: auto;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
}


.courses-item-title-counter {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--main-text-color);
    padding: 3px;
    font-size: .75rem;
    font-weight: bold;
}

.courses-item-title h1 span {
    color: var(--purple-color);
}

.courses-item-body {
    margin: 20px 0;
    color: var(--main-text-color);
    font-size: .80rem;
    line-height: 2;
}

.courses-item-footer a {
    font-size: .75rem;
    background-color: var(--purple-color);
    padding: 5px 10px;

}


.feedback-section-title {
    text-align: center;
    padding: 50px 0 20px 0;
}

.feedback-section-title h1 {
    color: var(--main-text-color);
    font-size: 1.7rem;
}

.feedback-section-title h2 {
    color: var(--purple-color);
    font-size: 1.2rem;
}

.feedbacks-section .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feedback-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 40px;
}

.feedback-item img {
    border: 1px solid var(--purple-color);
    border-radius: 50px;
    margin: 10px 0;
}

.feedback-item-header p {
    color: var(--main-text-color);
    font-size: .75rem;
    font-weight: bold;
}

.feedback-item-header ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.feedback-item-header ul li {
    color: var(--main-text-color);
}

.feedback-item-header-rating {
    color: var(--purple-color);
}

.feedback-item-body p {
    text-align: center;
    color: var(--main-text-color);
    font-size: .75rem;
    line-height: 2;
}

.newsletter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.newsletter-banner {
    width: 50%;
    z-index: -1;
}

.newsletter-banner img {
    width: 100%;

}

.newsletter-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 40%;
}

.newsletter-form h2 {
    font-size: 1.3rem;
    color: var(--main-text-color);
}

.newsletter-form p:first-of-type {
    color: var(--purple-color);
    font-size: 1.5rem;
    padding: 3px;
}

.newsletter-form p:nth-of-type(2) {
    color: var(--main-text-color);
    margin-bottom: 30px;
}

.newsletter-form input {
    background-color: transparent;
    border: 1px solid var(--purple-color);
    outline: none;
    width: 50%;
    line-height: 2;
    margin-top: 20px;
    padding: 5px 10px;
}

.newsletter-form input:focus {
    color: var(--main-text-color);
}

.newsletter-form textarea {
    background-color: transparent;
    border: 1px solid var(--purple-color);
    outline: none;
    width: 50%;
    line-height: 1;
    margin-top: 20px;
    padding: 5px;
}

.newsletter-form button {
    font-size: .75rem;
    background-color: var(--purple-color);
    color: var(--main-text-color);
    padding: 7px 5px;
    outline: none;
    border: none;
    border-radius: 2px;
    margin-top: 10px;
}

footer .container {
    background-color: var(--purple-color);
    margin-top: -5px;
}

footer .row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 50px 0;
}

footer .row h2 {
    display: inline;
    color: var(--main-text-color);
    font-size: 1rem;
}

.underline {
    width: 100%;
    border-bottom: 1px solid var(--main-text-color);
}

footer .container .row ul {
    color: var(--main-text-color);
    line-height: 1.5;
    margin-top: 10px;
}

footer form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer form p {
    color: var(--main-text-color);
}

footer form input {
    background-color: transparent;
    border: 1px solid var(--main-text-color);
    padding: 4px;
    outline: none;
    color: var(--main-text-color);
    margin: 20px 0;
}

footer form ul {
    display: flex;
    width: 100%;
    justify-content: space-between;

}

footer form ul button {
    background-color: transparent;
    color: var(--main-text-color);
    font-size: .75rem;
    border: none;
    cursor: pointer;
}

footer form ul li i {
    background-color: var(--main-text-color);
    padding: 7px;
    border-radius: 50px;
    color: var(--purple-color);
}